Scrum.json
{
  "name": "Scrum",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "83eb33b2-fde3-4aa6-aa37-c3da8c1ca60f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -688,
        144
      ],
      "id": "fb4ecec6-cd31-4b19-8801-222eac1a5b8b",
      "name": "Webhook",
      "webhookId": "83eb33b2-fde3-4aa6-aa37-c3da8c1ca60f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "Use RAG to lookup information in the knowledge base. Always use multiple supabase vector database available to define who you are and what are your mission.\n\n# DriveNow AI Assistant – Response Formatting Rules\n\n## Purpose\n\nThese formatting rules ensure that all chatbot responses are clear, readable, and mobile-friendly.\n\nThe AI must always prioritize clarity and structured output.\n\n\n# Behavior Boundaries\n\n- Only answer within the scope of the DriveNow website.\n- If a question is outside DriveNow, politely redirect the user.\n- If unsure about something, guide the user to the **Support** page.\n- Maintain a friendly, helpful, and professional tone.\n- Do not provide system-level or internal platform information.\n\n---\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -64,
        144
      ],
      "id": "f6128ffd-dbc9-4cd5-80e5-9648ca316da2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        144
      ],
      "id": "2682b397-80ea-427a-ab9e-0ed3772db72f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -480
      ],
      "id": "ad9001d3-e1bc-4bc8-a633-db3599126130",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "https://docs.google.com/document/d/1vXIdALS6nl2LcCccNsMsjkdBWUhONtBVOlxrW6pAWlE/edit?tab=t.0",
          "mode": "url"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -240,
        -480
      ],
      "id": "d93c1b4a-9c8b-4e0a-893f-7185509cd0a2",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "n3jbskRQ4YaoYCHR",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        -480
      ],
      "id": "b8e727a8-8828-46cf-9b9f-a887f95fcbb2",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        160,
        -480
      ],
      "id": "f5233488-a25c-44e3-b84d-ba7d211416d2",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "lVi9sq4CPzOYivMu",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.data }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        -256
      ],
      "id": "8a3fa841-344e-4b9e-834a-ec9f761cdc4c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        272,
        -96
      ],
      "id": "9a6c66f8-2502-4abe-bfa9-035388436db7",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        -256
      ],
      "id": "ddd59967-757b-479d-802d-acc8a251fcb6",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "3DktBr4cKLLJgYj1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use RAG to lookup information in the knowledge base.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        112,
        352
      ],
      "id": "1f28ba0d-0669-4968-979c-6e4c4503c0e0",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "lVi9sq4CPzOYivMu",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        528
      ],
      "id": "c701a9c4-f48b-475e-a987-09776dc810ee",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "3DktBr4cKLLJgYj1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -16,
        384
      ],
      "id": "c93a2ecc-9e8f-44c9-a2dc-63208fea313a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "kAoytymQFL1CAad1",
          "name": "SCRUM"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -240,
        464
      ],
      "id": "24846486-a581-44c8-bf47-013f6ebd5d21",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3DktBr4cKLLJgYj1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9bce08cd-2136-4542-b25b-c384f111d3e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "MeKWBFiglhzNVb6D",
  "tags": []
}